.sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.3s;
  border: 1px solid;
}

.main { 
  margin-left: 260px;
  transition: margin-left .3s;
  padding: 16px;
}
