/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
    min-width: 250px;
    margin-left: -250px;
    background-color: #1f3684;
    color: #ffffff;
    transition: all 0.5s;
  }
  
  .sidebar.is-open {
    margin-left: 0;
    transition: .5s;
  }
  
  .menu{
   background-color: #1F3684;
  }
  .content{
    height: 100%;
    width: 100%;
  }